/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/styles/dropdown/dropdown.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/*#region color-primary*/
/*#endregion*/
/*#region color-secondary*/
/*#endregion*/
/*#region color-accent*/
/*#endregion*/
/*#region color-neutral*/
/*#endregion*/
/*#region color-error*/
/*#endregion*/
/*#region color-success*/
/*#endregion*/
/*#region color-warning*/
/*#endregion*/
/*#region color-info*/
/*#endregion*/
/*#region color-utility*/
/*#endregion*/
/*#region radius*/
/*#endregion*/
/*#region spacing*/
/*#endregion*/
/*#region border-width*/
/*#endregion*/
/*#region Typography*/
/*#region font-size*/
/*#endregion*/
/*#region font-weight*/
/*#endregion*/
/*#region line-height*/
/*#endregion*/
/*#endregion*/
/*#region shadow*/
/*#endregion*/
/*#region size*/
/*#endregion*/
/*#region color-base*/
/*#endregion*/
/*#region color-special*/
/*#endregion*/
/*#region sp-panel*/
/*#endregion*/
/*#region alert/modal icons*/
/*#endregion*/
.sp-dropdown-menu {
  --dropdwon-menu-text: #11152a;
  --dropdwon-menu-bg: #ffffff;
  --dropdwon-menu-border: #cfd5e1;
  --dropdwon-item-bg-hover: #d6f5ff;
  padding: 0rem;
  color: var(--dropdwon-menu-text);
  background-color: var(--dropdwon-menu-bg);
  border: 1px solid var(--dropdwon-menu-border);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.sp-dropdown-menu li:first-of-type {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  overflow: hidden;
}
.sp-dropdown-menu li:last-of-type {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
.sp-dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: inherit;
}
.sp-dropdown-menu .dropdown-item:hover {
  text-decoration: none !important;
  color: inherit !important;
}
.sp-dropdown-menu .dropdown-item:hover {
  background-color: var(--dropdwon-item-bg-hover);
}
