/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/styles/button/button.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
/*#region color-primary*/
/*#endregion*/
/*#region color-secondary*/
/*#endregion*/
/*#region color-accent*/
/*#endregion*/
/*#region color-neutral*/
/*#endregion*/
/*#region color-error*/
/*#endregion*/
/*#region color-success*/
/*#endregion*/
/*#region color-warning*/
/*#endregion*/
/*#region color-info*/
/*#endregion*/
/*#region color-utility*/
/*#endregion*/
/*#region radius*/
/*#endregion*/
/*#region spacing*/
/*#endregion*/
/*#region border-width*/
/*#endregion*/
/*#region Typography*/
/*#region font-size*/
/*#endregion*/
/*#region font-weight*/
/*#endregion*/
/*#region line-height*/
/*#endregion*/
/*#endregion*/
/*#region shadow*/
/*#endregion*/
/*#region size*/
/*#endregion*/
/*#region color-base*/
/*#endregion*/
/*#region color-special*/
/*#endregion*/
/*#region sp-panel*/
/*#endregion*/
/*#region alert/modal icons*/
/*#endregion*/
.sp-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1.4;
  vertical-align: middle;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  gap: 0.5rem;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  -webkit-box-shadow: 0 0 0 1px var(--btn-bg);
          box-shadow: 0 0 0 1px var(--btn-bg);
}
.sp-btn i {
  display: none;
  width: 1.375rem;
  height: 1.375rem;
  font-size: 1.25rem;
}
.sp-btn[class*=has-icon] i, .sp-btn.sp-btn-icon i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.sp-btn.sp-btn-has-icon-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.sp-btn.sp-btn-has-icon-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sp-btn.sp-btn-xs {
  padding: 0.375rem 1rem;
  font-size: 0.688rem;
  font-weight: 600;
  gap: 0.25rem;
}
.sp-btn.sp-btn-xs i {
  width: 1rem;
  height: 1rem;
  font-size: 0.875rem;
}
.sp-btn.sp-btn-s {
  padding: 0.5rem 1.25rem;
  font-size: 0.813rem;
  font-weight: 600;
  gap: 0.375rem;
}
.sp-btn.sp-btn-s i {
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1rem;
}
.sp-btn.sp-btn-l {
  padding: 0.625rem 1.75rem;
  font-size: 1.188rem;
  font-weight: 600;
  gap: 0.75rem;
}
.sp-btn.sp-btn-l i {
  width: 1.625rem;
  height: 1.625rem;
  font-size: 1.5rem;
}
.sp-btn.sp-btn-xl {
  padding: 0.75rem 1.75rem;
  font-size: 1.438rem;
  font-weight: 600;
  gap: 0.75rem;
}
.sp-btn.sp-btn-xl i {
  width: 1.875rem;
  height: 1.875rem;
  font-size: 1.75rem;
}
.sp-btn.sp-btn-icon {
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(2.5rem - 1px);
  height: calc(2.5rem - 1px);
}
.sp-btn.sp-btn-icon.sp-btn-xs {
  width: 1.75rem;
  height: 1.75rem;
}
.sp-btn.sp-btn-icon.sp-btn-s {
  width: 2.125rem;
  height: 2.125rem;
}
.sp-btn.sp-btn-icon.sp-btn-l {
  width: 3rem;
  height: 3rem;
}
.sp-btn.sp-btn-icon.sp-btn-xl {
  width: 3.5rem;
  height: 3.5rem;
}
.sp-btn.sp-btn-primary {
  --btn-text: #ffffff;
  --btn-text-hover: #ffffff;
  --btn-text-active: #ffffff;
  --btn-bg: #0061e8;
  --btn-bg-hover: #023caf;
  --btn-bg-active: #0c2e97;
}
.sp-btn.sp-btn-primary.sp-btn-outline {
  --btn-bg: #ffffff;
  --btn-bg-hover: #ffffff;
  --btn-bg-active: #ffffff;
  --btn-text: #0061e8;
  --btn-text-hover: #023caf;
  --btn-text-active: #0c2e97;
  --btn-border: #0061e8;
  --btn-border-hover: #023caf;
  --btn-border-active: #0c2e97;
}
.sp-btn.sp-btn-primary.sp-btn-ghost {
  --btn-text: #0061e8;
  --btn-text-hover: #023caf;
  --btn-text-active: #0c2e97;
  --btn-bg: transparent;
  --btn-bg-hover: transparent;
  --btn-bg-active: transparent;
}
.sp-btn.sp-btn-primary.sp-btn-ghost.sp-btn-icon {
  --btn-text: #11152a;
  --btn-text-hover: #0061e8;
  --btn-text-active: #0061e8;
}
.sp-btn.sp-btn-primary.sp-btn-ghost.sp-btn-icon.sp-active {
  --btn-text: #0061e8;
}
.sp-btn.sp-btn-primary.sp-btn-link {
  --btn-text: #0061e8;
  --btn-text-hover: #023caf;
  --btn-text-active: #0c2e97;
}
.sp-btn.sp-btn-secondary {
  --btn-text: #ffffff;
  --btn-text-hover: #ffffff;
  --btn-text-active: #ffffff;
  --btn-bg: #7c48e7;
  --btn-bg-hover: #6311bb;
  --btn-bg-active: #5302a9;
}
.sp-btn.sp-btn-secondary.sp-btn-outline {
  --btn-bg: #ffffff;
  --btn-bg-hover: #ffffff;
  --btn-bg-active: #ffffff;
  --btn-text: #7c48e7;
  --btn-text-hover: #6311bb;
  --btn-text-active: #5302a9;
  --btn-border: #7c48e7;
  --btn-border-hover: #6311bb;
  --btn-border-active: #5302a9;
}
.sp-btn.sp-btn-secondary.sp-btn-ghost {
  --btn-text: #7c48e7;
  --btn-text-hover: #6311bb;
  --btn-text-active: #5302a9;
  --btn-bg: transparent;
  --btn-bg-hover: transparent;
  --btn-bg-active: transparent;
}
.sp-btn.sp-btn-secondary.sp-btn-ghost.sp-btn-icon {
  --btn-text: #11152a;
  --btn-text-hover: #7c48e7;
  --btn-text-active: #7c48e7;
}
.sp-btn.sp-btn-secondary.sp-btn-ghost.sp-btn-icon.sp-active {
  --btn-text: #7c48e7;
}
.sp-btn.sp-btn-secondary.sp-btn-link {
  --btn-text: #7c48e7;
  --btn-text-hover: #6311bb;
  --btn-text-active: #5302a9;
}
.sp-btn.sp-btn-accent {
  --btn-text: #11152a;
  --btn-text-hover: #11152a;
  --btn-text-active: #11152a;
  --btn-bg: #fedc22;
  --btn-bg-hover: #f3d21d;
  --btn-bg-active: #f3d21d;
}
.sp-btn.sp-btn-floating {
  -webkit-box-shadow: 0 0 0 1px var(--btn-bg), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px var(--btn-bg), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sp-btn:hover {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text-hover);
  -webkit-box-shadow: 0 0 0 1px var(--btn-bg-hover), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px var(--btn-bg-hover), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sp-btn:active {
  background-color: var(--btn-bg-active);
  color: var(--btn-text-active);
  -webkit-box-shadow: 0 0 0 1px var(--btn-bg-active);
          box-shadow: 0 0 0 1px var(--btn-bg-active);
}
.sp-btn.sp-btn-outline:not(.sp-disabled):not(.sp-has-loader) {
  -webkit-box-shadow: 0 0 0 1px var(--btn-border);
          box-shadow: 0 0 0 1px var(--btn-border);
}
.sp-btn.sp-btn-outline:not(.sp-disabled):not(.sp-has-loader):hover {
  -webkit-box-shadow: 0 0 0 1px var(--btn-border-hover), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px var(--btn-border-hover), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sp-btn.sp-btn-outline:not(.sp-disabled):not(.sp-has-loader):active {
  -webkit-box-shadow: 0 0 0 1px var(--btn-border-active);
          box-shadow: 0 0 0 1px var(--btn-border-active);
}
.sp-btn.sp-btn-outline:not(.sp-disabled):not(.sp-has-loader).sp-btn-floating {
  -webkit-box-shadow: 0 0 0 1px var(--btn-border), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 1px var(--btn-border), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sp-btn.sp-btn-ghost {
  padding-left: 0;
  padding-right: 0;
}
.sp-btn.sp-btn-ghost.sp-btn-icon {
  padding: 0.5rem;
  background-color: transparent;
  width: auto;
  height: auto;
}
.sp-btn.sp-btn-ghost.sp-btn-icon:hover, .sp-btn.sp-btn-ghost.sp-btn-icon:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn.sp-btn-ghost:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn.sp-btn-ghost.sp-disabled, .sp-btn.sp-btn-ghost:disabled {
  --btn-disabled-bg: transparent;
  --btn-disabled-text: #6d7688;
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}
.sp-btn.sp-btn-ghost.sp-disabled:hover, .sp-btn.sp-btn-ghost.sp-disabled:active, .sp-btn.sp-btn-ghost:disabled:hover, .sp-btn.sp-btn-ghost:disabled:active {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn.sp-btn-ghost.sp-has-loader, .sp-btn.sp-btn-ghost.sp-has-loader:disabled {
  background-color: var(--btn-loader-bg) !important;
  color: var(--btn-loader-text) !important;
}
.sp-btn.sp-btn-ghost.sp-has-loader, .sp-btn.sp-btn-ghost.sp-has-loader:disabled {
  --btn-loader-bg: transparent;
  --btn-loader-text: #6d7688;
  cursor: not-allowed;
  -webkit-box-shadow: 0 0 0 1px var(--btn-loader-bg);
          box-shadow: 0 0 0 1px var(--btn-loader-bg);
}
.sp-btn.sp-btn-ghost.sp-has-loader:hover, .sp-btn.sp-btn-ghost.sp-has-loader:active, .sp-btn.sp-btn-ghost.sp-has-loader:disabled:hover, .sp-btn.sp-btn-ghost.sp-has-loader:disabled:active {
  background-color: var(--btn-loader-bg);
  color: var(--btn-loader-text);
}
.sp-btn.sp-disabled, .sp-btn:disabled {
  background-color: var(--btn-disabled-bg) !important;
  color: var(--btn-disabled-text) !important;
}
.sp-btn.sp-disabled, .sp-btn:disabled {
  --btn-disabled-bg: #f1f4f9;
  --btn-disabled-text: #4c5469;
  -webkit-box-shadow: 0 0 0 1px var(--btn-disabled-bg);
          box-shadow: 0 0 0 1px var(--btn-disabled-bg);
  cursor: not-allowed;
}
.sp-btn.sp-disabled:hover, .sp-btn.sp-disabled:active, .sp-btn:disabled:hover, .sp-btn:disabled:active {
  background-color: var(--btn-disabled-bg) !important;
  color: var(--btn-disabled-text) !important;
}
.sp-btn.sp-has-loader, .sp-btn.sp-has-loader:disabled {
  background-color: var(--btn-loader-bg) !important;
  color: var(--btn-loader-text) !important;
}
.sp-btn.sp-has-loader, .sp-btn.sp-has-loader:disabled {
  --btn-loader-bg: #f1f4f9;
  --btn-loader-text: #4c5469;
  cursor: not-allowed;
  -webkit-box-shadow: 0 0 0 1px var(--btn-loader-bg);
          box-shadow: 0 0 0 1px var(--btn-loader-bg);
}
.sp-btn.sp-has-loader:hover, .sp-btn.sp-has-loader:active, .sp-btn.sp-has-loader:disabled:hover, .sp-btn.sp-has-loader:disabled:active {
  background-color: var(--btn-loader-bg);
  color: var(--btn-loader-text);
}
.sp-btn.sp-btn-link {
  background-color: transparent !important;
}
.sp-btn.sp-btn-link {
  text-decoration: none;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn.sp-btn-link:hover, .sp-btn.sp-btn-link:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn.sp-btn-link .sp-btn-link-text {
  text-decoration: underline;
}
.sp-btn.sp-btn-link .sp-btn-link-text:hover, .sp-btn.sp-btn-link .sp-btn-link-text:active {
  text-decoration: none;
}
.sp-btn.sp-btn-link.sp-disabled, .sp-btn.sp-btn-link:disabled {
  --btn-disabled-bg: transparent;
  --btn-disabled-text: #6d7688;
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  cursor: not-allowed;
}
.sp-btn.sp-btn-link.sp-disabled:hover, .sp-btn.sp-btn-link.sp-disabled:active, .sp-btn.sp-btn-link:disabled:hover, .sp-btn.sp-btn-link:disabled:active {
  background-color: var(--btn-disabled-bg);
  color: var(--btn-disabled-text);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}
.sp-btn.sp-btn-link.sp-disabled .sp-btn-link-text, .sp-btn.sp-btn-link:disabled .sp-btn-link-text {
  text-decoration: none;
}
.sp-btn.sp-btn-link.sp-has-loader, .sp-btn.sp-btn-link.sp-has-loader:disabled {
  background-color: var(--btn-loader-bg) !important;
  color: var(--btn-loader-text) !important;
}
.sp-btn.sp-btn-link.sp-has-loader, .sp-btn.sp-btn-link.sp-has-loader:disabled {
  --btn-loader-bg: transparent;
  --btn-loader-text: #6d7688;
  cursor: not-allowed;
  -webkit-box-shadow: 0 0 0 1px var(--btn-loader-bg);
          box-shadow: 0 0 0 1px var(--btn-loader-bg);
}
.sp-btn.sp-btn-link.sp-has-loader:hover, .sp-btn.sp-btn-link.sp-has-loader:active, .sp-btn.sp-btn-link.sp-has-loader:disabled:hover, .sp-btn.sp-btn-link.sp-has-loader:disabled:active {
  background-color: var(--btn-loader-bg);
  color: var(--btn-loader-text);
}

.sp-btn-close {
  --close-btn: #11152a;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  color: var(--close-btn);
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.5rem;
  margin: -0.5rem -0.5rem 0 0;
  border: 0;
  background-color: transparent;
}
.sp-btn-close:before {
  content: "\f00d";
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
}
.sp-btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.sp-btn-close:hover {
  --close-btn: #0061e8;
}

.sp-btn-group {
  border-radius: 2rem;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.sp-btn-group > .sp-btn {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sp-btn-group > .sp-btn-group:not(:last-child) > .sp-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sp-btn-group > .sp-btn.sp-dropdown-toggle-split:first-child, .sp-btn-group > .sp-btn:not(:last-child):not(.sp-dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sp-btn-group > .sp-btn-group:not(:first-child) > .sp-btn,
.sp-btn-group > .sp-btn:nth-child(n+3),
.sp-btn-group > :not(.sp-btn-check) + .sp-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 3px;
  padding-left: 0.75rem;
  padding-right: 1rem;
}
.sp-btn-group > .sp-btn-group:not(:first-child) > .sp-btn.sp-btn-outline,
.sp-btn-group > .sp-btn:nth-child(n+3).sp-btn-outline,
.sp-btn-group > :not(.sp-btn-check) + .sp-btn.sp-btn-outline {
  margin-left: 1px;
}
.sp-btn-group > .sp-btn-group:not(:first-child) {
  margin-left: 1px;
}

.sp-dropdown-toggle:after {
  content: "\f078";
  font-family: "Font Awesome 6 Pro";
  font-size: 0.75rem;
  min-height: 22px;
  -webkit-transform: translateY(12%);
      -ms-transform: translateY(12%);
          transform: translateY(12%);
}

.sp-btn-pulsing:not(.sp-disabled) {
  position: relative;
}
.sp-btn-pulsing:not(.sp-disabled).sp-btn-primary {
  --pulse-color: #0061e8;
}
.sp-btn-pulsing:not(.sp-disabled).sp-btn-secondary {
  --pulse-color: #7c48e7;
}
.sp-btn-pulsing:not(.sp-disabled):after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
  border-radius: 2rem;
}
.sp-btn-pulsing:not(.sp-disabled).sp-has-loader:after {
  content: "";
  -webkit-animation: none;
          animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 1px var(--pulse-color);
            box-shadow: 0 0 0 1px var(--pulse-color);
    opacity: 0.009000000000000001;
  }
  50% {
    -webkit-box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
            box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(77, 170, 87, 0);
            box-shadow: 0 0 0 1px rgba(77, 170, 87, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 1px var(--pulse-color);
            box-shadow: 0 0 0 1px var(--pulse-color);
    opacity: 0.009000000000000001;
  }
  50% {
    -webkit-box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
            box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1px rgba(77, 170, 87, 0);
            box-shadow: 0 0 0 1px rgba(77, 170, 87, 0);
  }
}
.sp-inverted .sp-btn {
  --btn-bg: #ffffff;
  --btn-bg-hover: #f1f4f9;
  --btn-bg-active: #f1f4f9;
  --btn-text: #0061e8;
  --btn-text-dark: #11152a;
  --btn-text-hover: #0061e8;
  --btn-text-active: #0061e8;
}
.sp-inverted .sp-btn.sp-btn-outline {
  --btn-bg: $color-btn-no-background;
  --btn-bg-hover: $color-btn-no-background;
  --btn-bg-active: $color-btn-no-background;
  --btn-text: #ffffff;
  --btn-text-hover: #ffffff;
  --btn-text-active: #ffffff;
  --btn-border: #ffffff;
  --btn-border-hover: #ffffff;
  --btn-border-active: #ffffff;
}
.sp-inverted.sp-btn-color-dark .sp-btn {
  color: var(--btn-text-dark);
}
