---
import "@styles/components/accordion/accordion.css";
import "@styles/components/badge/badge.css";
import "@styles/components/button/button.css";
---
<div class="sp-accordion-wrapper preview-wrapper not-content">
  <slot></slot>
</div>


<script>
  import "bootstrap/js/src/collapse";
</script>
