/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/styles/pills/pills.scss ***!
  \************************************************************************************************************************************************************************************************************************/
/*#region color-primary*/
/*#endregion*/
/*#region color-secondary*/
/*#endregion*/
/*#region color-accent*/
/*#endregion*/
/*#region color-neutral*/
/*#endregion*/
/*#region color-error*/
/*#endregion*/
/*#region color-success*/
/*#endregion*/
/*#region color-warning*/
/*#endregion*/
/*#region color-info*/
/*#endregion*/
/*#region color-utility*/
/*#endregion*/
/*#region radius*/
/*#endregion*/
/*#region spacing*/
/*#endregion*/
/*#region border-width*/
/*#endregion*/
/*#region Typography*/
/*#region font-size*/
/*#endregion*/
/*#region font-weight*/
/*#endregion*/
/*#region line-height*/
/*#endregion*/
/*#endregion*/
/*#region shadow*/
/*#endregion*/
/*#region size*/
/*#endregion*/
/*#region color-base*/
/*#endregion*/
/*#region color-special*/
/*#endregion*/
/*#region sp-panel*/
/*#endregion*/
/*#region alert/modal icons*/
/*#endregion*/
/*#region pills */
.sp-pill {
  --pill-bg: #ebf3ff;
  --pill-text: #11152a;
  --pill-height: 42px;
  font-weight: 400;
  color: var(--pill-text);
  background-color: var(--pill-bg);
  border-radius: 1.25rem;
  font-size: 1rem;
  height: var(--pill-height);
  padding: 0.625rem 1rem;
  gap: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sp-pill i {
  cursor: pointer;
  color: var(--pill-text);
  display: inline-block;
  font-size: 1rem;
}
.sp-pill i::before {
  position: relative;
  top: 1px;
}
.sp-pill .sp-badge {
  display: none;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.sp-pill .sp-pill-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.sp-pill.sp-size-s {
  font-size: 0.813rem;
  padding: 0.25rem 1rem;
  --pill-height: 32px;
}
.sp-pill.sp-size-s i {
  font-size: 0.813rem;
}
.sp-pill.sp-has-status .sp-badge {
  display: block;
}

/*#endregion */
